allcouncils.csv
*RiverWQ_GraphData*
*RiverWQ_PublicDownload*
GWdata.csv
MacrosCombined.csv
MacrosWithMetadata.csv
LakesCombined.csv
LakesWithMetadata.csv
LakeDownloadData.xlsx
.Rproj.user
*.pdf
*.png
*.tif
*.zip
*.html
*.rData
*.xml
*.bak
*.Rhistory
*.Rproj
tmp*
NIWAwqData.xml